TWITTER_AUTH_TOKEN=       # X/Twitter auth_token cookie
TWITTER_CT0=              # X/Twitter ct0 cookie
DASHBOARD_PASSWORD=       # Password for dashboard basic auth (leave empty to disable)
PORT=3000                 # Server port (default 3000)
